body {
	background-color: rgb(237, 240, 255);
}

header {
	background: rgb(191,190,204);
	background: linear-gradient(90deg, rgba(191,190,204,1) 34%, rgba(72,208,213,1) 75%, rgba(191,190,204,1) 100%);
	overflow: hidden;
	text-align: center;
	padding: 20px 10px;
}

.headeresquerra {
	float: left;
	margin-left: 200px;
}

header img {
	width: 150px;
	height:150px;
}

.headerdreta{
	float: right;
	margin-right:90px;	
}

.headerdreta a{
	border-right: 1px solid white;
	padding: 10px;
	text-decoration: none;
	color: white;
}

.headerdreta a:hover {
  background-color: #ddd;
  color: black;
}

.titol h5{
	float:left;
	margin-left: 10px;
	color: white;
	font-weight: bold;

}

.modal-body p{
	color: grey;
}

aside {
	display: block;
	width: 200px;
	margin-right: 100px;
	margin-top:50px;
}

aside h4 {
	border-bottom: 1px solid black;
}

aside p {
	margin-bottom: 10px;
	margin-top: 10px;
}

#bodyinici {
margin-top: 50px;
}

#bodyinici h4 {
	border-bottom: 1px solid black
}

#bodyrecuperacio {
	width: 1015px;
	margin-top:50px;
}

#bodyrecuperacio h4{
	border-bottom: 1px solid black;
}


#bodyregistre {
	width: 1015px;
	margin-top:50px;
}

#bodyregistre h4{
	border-bottom: 1px solid black;
}


#bodymodificacioperfil {
	width: 1015px;
	margin-top:50px;
}

#bodymodificacioperfil h4{
	border-bottom: 1px solid black;
}

#bodyevent {
	width: 1015px;
	margin-top:50px;
}

#bodyevent h4{
	border-bottom: 1px solid black;
}






#datanaixementbox input{
	width: 210px;
	height: 36px;
}

#selecciona {
	margin-bottom: 0px;
	margin-top: 0px;
}

#reservesselect {
	width: 210px;
	height: 36px;
	margin-bottom: 20px;
}

footer {
	background: rgb(191,190,204);
	background: linear-gradient(90deg, rgba(191,190,204,1) 34%, rgba(72,208,213,1) 75%, rgba(191,190,204,1) 100%);
	color: white;
	padding-left: 200px;
	padding-right: 100px;
	
}

footer a {	
	color:white;
	border-bottom: 1px solid white;
}

footer a:hover{
  background-color: #ddd;
  color: black;
}

footer p{
	margin: 0px;
}

